<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>紅白クイズ</title>
</head>
<body>
    <h1>紅白クイズ</h1>
    <form th:action="@{/submit}" th:object="${form}" method="post">
        <!-- クイズを繰り返し表示 -->
        <div th:each="quiz, iterStat : ${quizList}">
            <p th:text="${quiz.quiz}"></p>
            <!-- 問題10のラジオボタンが空の場合、answersの要素数が足りないため作成したが、result.htmlのあなたの解答欄に「,」が挿入されてしまう
            <input type="hidden" th:field="*{answers[__${iterStat.index}__]}" value="" />
              -->
            <label>
                <input type="radio" th:field="*{answers[__${iterStat.index}__]}" th:value="${quiz.answer1}" th:text="${quiz.answer1}"/>
            </label><br/>
            <label>
                <input type="radio" th:field="*{answers[__${iterStat.index}__]}" th:value="${quiz.answer2}" th:text="${quiz.answer2}"/>
            </label><br/>
            <label>
                <input type="radio" th:field="*{answers[__${iterStat.index}__]}" th:value="${quiz.answer3}" th:text="${quiz.answer3}"/>
            </label><br/>
            <label>
                <input type="radio" th:field="*{answers[__${iterStat.index}__]}" th:value="${quiz.answer4}" th:text="${quiz.answer4}"/>
            </label><br/>
        </div>
        <button type="submit">解答を送信</button>
    </form>
</body>
</html>