@charset "UTF-8";

td{
	vertical-align: middle;
	position: relative;
}
td img{
	display: inline-block;
	vertical-align: middle;
	opacity: 0.5;
	position: absolute;/*重ねたい子要素にabsolute*/
	top:50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
	-webkit-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
	transform: translate(-50%,-50%);/*センター寄せの修正*/
	color: #fff;
	font-size: 1.8rem;
	margin: 0!important;/*文字がずれている場合や*/
	padding: 0!important;/*文字が折り返される場合*/
}